<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- côté client-->
    <add key="siteClientFolder" value="C:/Users/raoul/source/repos/xxx/xxx/site2"/>
    <add key="visiteFolder" value="/visite"/>

    <!-- côté serveur-->
    <add key="siteServeurFolder" value="C:/Users/raoul/source/repos/ConsoleApp1/ConsoleApp1"/>
    <add key="masterFolder" value="/masters"/>


    <add key="rootFolder" value="C:/Users/raoul/source/repos/ConsoleApp1/ConsoleApp1"/>
    <add key="siteLogo" value="/assets/img/logo/audio-guide.png"/>
    <add key="siteTitle" value="UniLausanne une visite e-guidée"/>
    <add key="version_number" value="1.1.0.2"/>
    <add key="parcoursXML" value="C:\Users\raoul\source\repos\ConsoleApp1\ConsoleApp1\posters\Pacours.xml"/>

  </appSettings>
</configuration>