<div class="page-content main-page">
    <div class="wrapper">
        <H1>Que votre visite soit INNOVANTE !</H1>
        
        <HR> Laissez-vous accompagner au cours de cette visite et découverez nos parcours</HR>
        <br>
        <p>
            Avec cette app, vous pourrez :
			<ul>
				<li>obtenir des informations complémentaires sur les sujets</li>
				<li>répondre à des questions</li>
				<li>participer à un challenge, défier vos amis</li>
				<li>participer au tirage au sort pour tenter de gagner le prix du jour</li>
				<li>laisser votre feedback</li>
			</ul>
            <br>
        <p> <a href="/visite"> <H2>Alors, on commence ? </H2> </a> </p>
    </div>
</div>