<header class="site-header">


	<a class="site-header-back-button" href="/">
		<img src="/assets/img/icons/button_back.png" />
	</a>

	<a class="site-title" href="/">
		<img src="/assets/img/logo/audio-guide.png" alt="UniLausanne une visite e-guidée logo" class="site-logo" />
	</a>
	<a class="site-header-menu-button dont-use-ios-override" href="/visite">
		<img src="/assets/img/icons/menu_icon.png" />
	</a>
	
	<a class="site-header-back-button" href="/qrCode.html">
		<img src="/assets/img/icons/qrCode.png" />
	</a>
	



</header>