
<div><p><b>Ton personnage :</b></p></div>
<div>
	<div style="margin-left:20px;float:left;width:100px"><b>Nom : </b></div><div>$$Nom$$</div>
</div>
<div>
	<div style="margin-left:20px;float:left;width:100px"><b>Âge : </b></div><div>$$Age$$</div>
</div>
<div>
	<div style="display: flex;align-items: stretch;">
		<div style="margin-left:20px;float:left;min-width:100px;text-align:justify"><b>Qualité : </b></div><div>$$Qualite$$</div>
	</div>
</div>

<div><p>&nbsp;</p><p><b>Gagne le débat ! </b></p></div>


<div style="display: flex;align-items: stretch;">
	<div style="margin-left:20px;float:left;text-align:justify">&nbsp;</div><div>$$Debat$$</div>
</div>

<div>
<p>&nbsp;</p>
	<p><b>Argument principal : </b></p>
</div>

<div style="display: flex;align-items: stretch;">
	<div style="margin-left:20px;float:left;text-align:justify">&nbsp;</div><div>$$Argument$$</div>
</div>
<p>&nbsp;</p>